.todo-row {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #f0f0f0;
}

.todo-row.completed {
  color: #41b06e;
}

.todo-checkbox {
  margin-right: 1rem;
}

.todo-title {
  flex: 1 1 auto;
  font-size: 1.07rem;
  cursor: pointer;
}

.todo-title.completed-text {
  text-decoration: line-through;
  opacity: 0.7;
}

.edit-input {
  font-size: 1.07rem;
  flex: 1 1 auto;
  padding: 2px 4px;
  border-radius: 0.2rem;
  border: 1px solid #bbb;
}

.delete-button {
  background: none;
  color: #ee4444;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 1rem;
  line-height: 1;
}